<h2 class="text-center">products</h2>
<div class="flex row-cols-3">
  @for( product of products; track $index ){
  <div class="card d-inline-flex">
    <div class="card-header flex m-auto">
      <img [src]="product.image" alt="">
    </div>
    <div class="card-body">
      <h5>{{product.name}}</h5>
      <p>{{product.price}}</p>
    </div>
    <div class="card-footer">
      <div class="cardfooter flex text-center">
        <input type="text" [(ngModel)]="product.name" class="m-2">

     </div>
    </div>
  </div>}
</div>
